@charset "UTF-8";

.board_write_popup .top_item_photo_info{overflow:hidden; padding:0 0 15px 0;}
.board_write_popup .item_photo_box{display:table-cell; float:left; position:relative; width:92px; height:92px; text-align:center; vertical-align:middle; border:1px solid #ebebeb;}
.board_write_popup .item_photo_box img{width:92px; height:92px;}
.board_write_popup .item_info_box{float:left; width:490px; padding:0 0 0 15px;}
.board_write_popup .item_info_box h5{padding:0 0 5px 0; font-size:18px;}
.board_write_popup .item_info_box em{color:#a9a9a9;}

/*팝업 속성 */
.board_write_popup .ly_tit{padding:13px 15px 11px 15px;}
.board_write_popup .ly_tit h4{padding:0 30px 15px 0; font-size:18px; border-bottom:1px solid #999999;}
.board_write_popup .ly_cont{min-height:250px; padding:15px 15px 26px 15px;}

/* 글쓰기 */
.board_write_popup .board_write_box{margin:10px 10px 0 0; padding:0 0 10px 0; border-top:1px solid #dbdbdb;}
.board_write_popup .board_write_table{width:100%; margin:0 0 20px 0; border:0; border-spacing:0; border-collapse:collapse; /*border-top:1px solid #3c3c3c;*/}
.board_write_popup .board_write_table th{padding:13px 0 7px 25px; font-weight:bold; border-bottom:1px solid #dbdbdb; background:#fbfbfb; text-align:left; vertical-align:top;}
.board_write_popup .board_write_table td{height:32px; margin:0; padding:7px 0 7px 15px; border-bottom:1px solid #dbdbdb; background:#ffffff;}
.board_write_popup .board_write_table td > input{width:312px;}


.board_write_popup .board_write_box .category_select select{width:150px;}
.board_write_popup .board_write_box .write_title{width:90%;}
.board_write_popup .board_write_box .wirte_editor .form_element{margin:0 0 5px 0;}
.board_write_popup .board_wirte_agree{margin:0 10px 0 0; padding:0 0 10px 0;}

.board_write_popup .board_write_box .rating_star_list{margin:6px 0 0 0;}
.board_write_popup .board_write_box .rating_star_list li{display:inline-block; margin:0 10px 0 0;}
.board_write_popup .board_write_box .rating_star{display:inline-block; width:88px; height:15px;background: url("../../img/icon/board/icon_star_bg.png") no-repeat left top; vertical-align:middle; text-indent:-9999px;}
.board_write_popup .board_write_box .rating_star span{display:block; background:url("../../img/icon/board/icon_star_fill.png") no-repeat left top;}
