@charset "UTF-8";
   div { display : block;}
   
   .page .layout{
      height:100%;
      position:relative;
      z-index:99999;
   }
   
   .header {
      box-sizing:border-box;
      position:relative;
      display:block;
      border-bottom:1px solid #cccccc;
   }
   .upper {
      position:relative;
      display:block;
   }
   .lower {
      position:relative;
      display:block;
   }
   .total_upper{
      position:relative;
   }
   .upper_layout{
      display:flex;
      max-width:1256px;
      height:80px;
      padding: 10px 60px;
      margin: 0 auto;
      position:relative;
      box-sizing:border-box;
   }
   .left_logo{
      position:static;
      margin-right:35px;
      transform:none;
      top:50%;
      left:50%;
      flex: 0 0 auto;
   }
   .logo{
      display:inline-block;
      margin:-4px;
      padding:4px;
   }
   .icon{
      height:50px;
   }
   .center_menu {
      display:block;
      flex:0 0 auto;
      margin-left:300px;
   }
   .right {
      position:static;
      flex:1 0 auto;
      display:flex;
      right:8px;
       margin-left: 130px;   
   }
   form {
      display:block;
   }
   a {
      text-decoration:none;   
   }
   .center_menu .inp_search {
      position:relative;
       width: 300px;
       height: 25px;
 /*padding: 0 60px 0 14px;*/
       border: 1px solid #f7f7f6;
       border-radius: 18px;
       background-color: #f7f7f7;
       font-family: 'Noto Sans';
       font-weight: 400;
       font-size: 12px;
       color: #666;
       line-height: 16px;
       outline: none;
   }
   .center_menu .btn_search {
       position:relative;
       width: 35px;
       height: 35px;
       top:14px;
       right:48px;
   }
   .right .cart{
      display:block;
      width:36px;
      height:36px;
      margin: 12px 0 0 0;
      background:url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg) no-repeat 50% 50%;
   }
   .right .cart:hover a {
      background:url(https://res.kurly.com/pc/service/common/2011/ico_cart_on.svg?v=1) no-repeat 50% 50%;
      background-color:blue;
   }
   .login {
      position:relative;
      float:left;
   }
   .login li{
      position:relative;
      margin: 20px 0 0 5px;
      margin-left: 10px;
      padding: 0 0 0 0;
      border : 0;
      float:left;
   }
   ul{
      position:relative;
      list-style:none;
      margin: 0;
      padding: 0;
   }
   .menu:after {
      content: "";
      float: right;
      width: 1px;
      height: 15px;
      margin-top: 3px;
      margin-left: 7px;
      background-color: #d8d8d8;
   }
   
   .lower_layout {
      position:relative;
      min-height:49px;
      min-width:768px;
      max-width:1256px;
      display:flex;
      margin:0 200px 0 200px;
   }
   .lower_menu {
      padding: 0 0 0 60px;
      margin: 0 8px 0 -12px;
      text-align: left;
      flex: 1 0 auto;
      white-space:nowrap;
   }
   .second_menu{
      display:inline-block;
      font-size:20px;
      margin:8px 20px;
      padding: 6px 8px 4px;
      color:#424242;
   }
   
   .sub {
      left:auto;
      float:none;
      right:0;
      display:none;
      opacity:0;
   }
   
   .sub li{
      position:relative;
      margin: 20px 0 0 5px;
      margin-left: 10px;
      padding: 0 0 0 0;
      border : 0;
      display:block;
   }
   
   .sub a {
      font-size:12px;
      color:#404040;
      line-height:24px;
      text-align: center;
      display:block;
   }
   /*
   .lower_layout :hover + .sub_category .sub {
      display:block;
      opacity:1;
   }

   .lower_layout nav:hover + .sub_category .sub {
      display:block;
      opacity:1;
   }
   */
   nav ul{
   background-color:#fff;
      width: 100%;
      list-style-type:none;
      margin: 0;
      padding : 0;
   }
   nav ul li {
      display: inline-block;
   }
   .dropdown{
      position:relative;
   }
   .dropdown-menu{
      color:#333;
      padding:16px 25px 16px 25px;
      font-size:20px;
      cursor:pointer;
   }
   .dropdown-content {
      position:absolute;
      background-color:#f9f9f9;
      min-width:160px;
      box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
      display:none;
   }
   .dropdown-menu:hover {
      background-color:#35c5f0;
      color:white;
   }
   .dropdown-content a{
      color:black;
      padding: 12px 16px;
      text-decoration:none;
      display: block;
   }
   .dropdown-content a:hover {
      background-color: #f1f1f1;
   }
   .dropdown:hover .dropdown-content{
      display:block;
   }
   